06-client-onboarding-stripe-airtable/Client Onboarding - Stripe + Airtable + Gma.blueprint.json
{
    "name": "Client Onboarding - Stripe + Airtable + Gma",
    "flow": [
        {
            "id": 2,
            "module": "stripe:watchEvents",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2528193
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -682,
                    "y": -34
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "Stripe Payments",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:stripe2",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "event_type",
                        "type": "text",
                        "label": "Event Type"
                    },
                    {
                        "name": "event_id",
                        "type": "text",
                        "label": "Event ID"
                    },
                    {
                        "name": "object",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Payment Intent ID"
                            },
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "amount",
                                "type": "number",
                                "label": "Amount"
                            },
                            {
                                "name": "amount_capturable",
                                "type": "number",
                                "label": "Amount Capturable"
                            },
                            {
                                "name": "amount_received",
                                "type": "number",
                                "label": "Amount Received"
                            },
                            {
                                "name": "application",
                                "type": "text",
                                "label": "Application"
                            },
                            {
                                "name": "application_fee_amount",
                                "type": "number",
                                "label": "Application Fee Amount"
                            },
                            {
                                "name": "canceled_at",
                                "type": "date",
                                "label": "Canceled At"
                            },
                            {
                                "name": "cancellation_reason",
                                "type": "text",
                                "label": "Cancellation Reason"
                            },
                            {
                                "name": "capture_method",
                                "type": "text",
                                "label": "Capture Method"
                            },
                            {
                                "name": "charges",
                                "spec": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "data",
                                        "type": "array",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "has_more",
                                        "type": "boolean",
                                        "label": "Has More"
                                    },
                                    {
                                        "name": "total_count",
                                        "type": "number",
                                        "label": "Total Count"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Charges"
                            },
                            {
                                "name": "client_secret",
                                "type": "text",
                                "label": "Client Secret"
                            },
                            {
                                "name": "confirmation_method",
                                "type": "text",
                                "label": "Confirmation Method"
                            },
                            {
                                "name": "created",
                                "type": "date",
                                "label": "Created"
                            },
                            {
                                "name": "currency",
                                "type": "text",
                                "label": "Currency"
                            },
                            {
                                "name": "customer",
                                "type": "text",
                                "label": "Customer"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "invoice",
                                "type": "text",
                                "label": "Invoice"
                            },
                            {
                                "name": "last_payment_error",
                                "type": "text",
                                "label": "Last Payment Error"
                            },
                            {
                                "name": "livemode",
                                "type": "boolean",
                                "label": "Livemode"
                            },
                            {
                                "name": "metadata",
                                "type": "any",
                                "label": "Metadata"
                            },
                            {
                                "name": "next_action",
                                "type": "text",
                                "label": "Next Action"
                            },
                            {
                                "name": "on_behalf_of",
                                "type": "text",
                                "label": "On Behalf Of"
                            },
                            {
                                "name": "payment_method",
                                "type": "text",
                                "label": "Payment Method"
                            },
                            {
                                "name": "payment_method_options",
                                "type": "any",
                                "label": "Payment Method Options"
                            },
                            {
                                "name": "payment_method_types",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Payment Method Types"
                            },
                            {
                                "name": "receipt_email",
                                "type": "text",
                                "label": "Receipt Email"
                            },
                            {
                                "name": "review",
                                "type": "text",
                                "label": "Review"
                            },
                            {
                                "name": "setup_future_usage",
                                "type": "text",
                                "label": "Setup Future Usage"
                            },
                            {
                                "name": "shipping",
                                "spec": [
                                    {
                                        "name": "address",
                                        "spec": [
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "country",
                                                "type": "text",
                                                "label": "Country"
                                            },
                                            {
                                                "name": "line1",
                                                "type": "text",
                                                "label": "Line 1"
                                            },
                                            {
                                                "name": "line2",
                                                "type": "text",
                                                "label": "Line 2"
                                            },
                                            {
                                                "name": "postal_code",
                                                "type": "text",
                                                "label": "Postal Code"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Address"
                                    },
                                    {
                                        "name": "carrier",
                                        "type": "text",
                                        "label": "Carrier"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "tracking_number",
                                        "type": "text",
                                        "label": "Tracking Number"
                                    }
                                ],
                                "type": "collection",
                                "label": "Shipping"
                            },
                            {
                                "name": "source",
                                "type": "text",
                                "label": "Source"
                            },
                            {
                                "name": "statement_descriptor",
                                "type": "text",
                                "label": "Statement Descriptor"
                            },
                            {
                                "name": "statement_descriptor_suffix",
                                "type": "text",
                                "label": "Statement Descriptor Suffix"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "transfer_data",
                                "spec": [
                                    {
                                        "name": "destination",
                                        "type": "text",
                                        "label": "Destination"
                                    },
                                    {
                                        "name": "amount",
                                        "type": "text",
                                        "label": "Amount"
                                    }
                                ],
                                "type": "collection",
                                "label": "Transfer Data"
                            },
                            {
                                "name": "transfer_group",
                                "type": "text",
                                "label": "Transfer Group"
                            }
                        ],
                        "type": "collection",
                        "label": "Object"
                    },
                    {
                        "name": "raw",
                        "spec": [],
                        "type": "collection",
                        "label": "Raw Webhook Data"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 9716322
            },
            "mapper": {
                "base": "appTgZ1R7WkzzBg86",
                "typecast": false,
                "useColumnId": false,
                "table": "tbl1PSXw5WN4d5NEk",
                "record": {
                    "fldsd2u4xbUhoJ8cK": "{{2.object.shipping.name}}",
                    "fldJ7moE3LIrVihZE": "{{2.object.receipt_email}}",
                    "fld7NV2TrugPSs1sg": "{{2.object.amount / 100}}",
                    "fldoKKYHVmzE3blAi": "{{2.created}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": -382,
                    "y": -34
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Airtable (User ID: usrxh0nDr2UHKF3TT)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "Elena's Clients"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldsd2u4xbUhoJ8cK",
                                            "label": "Name",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fldJ7moE3LIrVihZE",
                                            "label": "Email",
                                            "type": "text"
                                        },
                                        {
                                            "name": "fld7NV2TrugPSs1sg",
                                            "label": "Amount Paid",
                                            "type": "number"
                                        },
                                        {
                                            "name": "fldoKKYHVmzE3blAi",
                                            "label": "Date Joined",
                                            "type": "date",
                                            "time": false
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "label": "Clients"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldsd2u4xbUhoJ8cK",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fldJ7moE3LIrVihZE",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fld7NV2TrugPSs1sg",
                                "type": "number",
                                "label": "Amount Paid"
                            },
                            {
                                "name": "fldoKKYHVmzE3blAi",
                                "type": "date",
                                "label": "Date Joined",
                                "time": false
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "label": "Name",
                        "type": "text"
                    },
                    {
                        "name": "Email",
                        "label": "Email",
                        "type": "text"
                    },
                    {
                        "name": "Amount Paid",
                        "label": "Amount Paid",
                        "type": "number"
                    },
                    {
                        "name": "Date Joined",
                        "label": "Date Joined",
                        "type": "date",
                        "time": false
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 9620396
            },
            "mapper": {
                "to": [
                    "{{ifempty(2.object.receipt_email; \"kharenfaithconde@gmail.com\")}}"
                ],
                "subject": "Welcome to Elena's Coaching Program!",
                "bodyType": "rawHtml",
                "content": "<h2>Welcome aboard!</h2>\r\n\r\n<p>Hi there,</p>\r\n\r\n<p>Thank you for your payment! Your spot in Elena's \r\ncoaching program is confirmed.</p>\r\n\r\n<p><strong>Amount paid:</strong> ${{2.object.amount / 100}}</p>\r\n\r\n<p>We will be in touch shortly with next steps.</p>\r\n\r\n<p><strong>Elena's Coaching Team</strong></p>"
            },
            "metadata": {
                "designer": {
                    "x": -82,
                    "y": -34
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gmail connection (kharenfaithconde@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            }
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": {
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment",
                            "name": "value"
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "CC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "BCC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "emailHeaders",
                        "type": "array",
                        "label": "Additional email headers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header",
                            "name": "value"
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}